@import '@/assets/style/public.scss';
.deposit-app {
  width: 100%;
  min-height: 12rem;
  background: #f7f7f7;
}
.deposit-list {
  margin-top: px2rem(10px);
  background: #ffffff;
}
.deposit-item {
  height: px2rem(96px);
  line-height: px2rem(96px);
  font-family: PingFangSC-Regular;
  font-size: px2rem(32px);
  color: #333333;
  letter-spacing: 0;
  padding: 0 px2rem(24px) 0 px2rem(30px);
  box-shadow: inset 0 -1px 0 0 #dddddd;
  border-radius: 1px;
}

.deposit-submit {
  margin: px2rem(54px) auto px2rem(56px);
  width: 100%;
  text-align: center;
  .deposit-submit-btn {
    display: inline-block;
    width: px2rem(456px);
    height: px2rem(88px);
    line-height: px2rem(88px);
    background: #e60816;
    border-radius: px2rem(44px);
    font-family: PingFangSC-Medium;
    font-size: px2rem(36px);
    color: #ffffff;
    letter-spacing: 0;
  }
}
.deposit-tip {
  margin: 0 px2rem(25px) px2rem(50px);
  position: absolute;
  bottom: 0;
}
.deposit-tip-title {
  font-family: PingFangSC-Medium;
  font-size: px2rem(36px);
  color: #333333;
  letter-spacing: 0;
}
.deposit-tip-mes {
  font-family: PingFangSC-Regular;
  font-size: px2rem(28px);
  color: #666666;
  letter-spacing: 0;
  line-height: px2rem(42px);
  margin: px2rem(14px) 0;
}
.van-switch {
  float: right;
  font-size: px2rem(46px) !important;
  transform: translateY(px2rem(22px));
  .van-switch__node {
    width: px2rem(46px) !important;
    height: px2rem(46px) !important;
    box-shadow: none;
  }
}
