@import '../../../../assets/style/public.scss';
body,
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* 同其他页面 */
.header {
  height: px2rem(484px);
  color: #fff;
  // background: #0b0a16 url(http://www.aoabank.com/m/bg.png) no-repeat;
  background: #323b7d url(//www.aoabank.com/m/bg_pawn.png) no-repeat;
  background-size: 100%;
  padding: 0 px2rem(78px);
  box-sizing: border-box;
  .header-title {
    padding-top: px2rem(60px);
    font-weight: normal;
    font-size: px2rem(45px);
  }
  .header-content {
    margin-top: px2rem(15px);
    color: #cfcfcf;
    line-height: 1.5;
    @include font-dpr(12px);
  }
  .download {
    display: inline-block;
    margin-top: px2rem(26px);
    height: px2rem(66px);
    line-height: px2rem(66px);
    padding: 0 px2rem(43px);
    color: #69dbff;
    border: 1px solid #58acbd;
    border-radius: px2rem(4px);
    @include font-dpr(14px);
  }
}

.main-content {
  margin: px2rem(34px) px2rem(23px);
  background: #ffffff;
  border: 1px solid #f2f2f2;
  padding: px2rem(50px) px2rem(24px);
  box-shadow: 0 2px 10px 0 rgba(176, 176, 176, 0.5);

  .collateral {
    display: inline-block;
    div {
      display: inline-block;
    }
    .title {
      font-size: px2rem(28px);
      color: #1d1d1d;
      line-height: px2rem(52px);
      display: inline-block;
      width: px2rem(90px);
      padding-right: px2rem(0px);
      text-align: right;
    }
    .collateral-input-wrapper {
      position: relative;
    }
    .collateral-tip {
      font-size: px2rem(20px);
      color: #393737;
      line-height: px2rem(28px);
      margin: px2rem(11px) px2rem(96px);
      span {
        color: #2ab3ce;
      }
    }
    input {
      background: #ffffff;
      border: 1px solid #e7e7e7;
      -webkit-box-shadow: 0 px2rem(4px) px2rem(8px) 0 rgba(189, 189, 189, 0.5);
      box-shadow: 0 px2rem(4px) px2rem(8px) 0 rgba(189, 189, 189, 0.5);
      border-radius: px2rem(100px);
      width: px2rem(337px);
      height: px2rem(52px);
      line-height: px2rem(52px);
      margin-left: px2rem(20px);
      padding: 0 px2rem(28px);
      color: #666;
      font-size: px2rem(24px);
    }
    button {
      background: #ffffff;
      border: 1px solid #e7e7e7;
      -webkit-box-shadow: 0 px2rem(2px) px2rem(4px) 0 rgba(189, 189, 189, 0.5);
      box-shadow: 0 px2rem(4px) px2rem(8px) 0 rgba(189, 189, 189, 0.5);
      border-radius: px2rem(100px);
      width: px2rem(189px);
      height: px2rem(52px);
      font-size: px2rem(24px);
      color: #1d1d1d;
      position: relative;
      cursor: pointer;
    }
    .tranfer {
      display: block;
      position: relative;
      margin: px2rem(16px) 0;
      img {
        width: px2rem(26px);
        height: px2rem(29px);
        margin-left: px2rem(320px);
      }
    }
    .caret-down-icon,
    .currency-icon {
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
    }
    .currency-icon {
      left: px2rem(27px);
      width: px2rem(27px);
      height: px2rem(27px);
      position: relative;
      margin-right: px2rem(13px);
      top: -1px;
    }
    .caret-down-icon {
      right: px2rem(29px);
      color: #1e1e1e;
    }
    .caret-down-icon,
    .currency-icon {
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
    }
    .anticon {
      display: inline-block;
      font-style: normal;
      vertical-align: baseline;
      text-align: center;
      text-transform: none;
      line-height: 1;
      text-rendering: optimizeLegibility;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }

    .anticon-caret-down:before {
      content: '';
      display: inline-block;
      background: url(//www.aoabank.com/m/icon-arrow.png) no-repeat;
      width: px2rem(16px);
      height: px2rem(16px);
      background-size: contain;
    }
    .ant-dropdown {
      font-family: 'Monospaced Number', 'PingFang SC', 'Microsoft YaHei',
        'Helvetica Neue', Helvetica, Arial, sans-serif;
      line-height: 1.5;
      color: rgba(0, 0, 0, 0.65);
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      min-width: px2rem(190px);
      list-style: none;
      position: absolute;
      z-index: 1050;
      display: block;
    }
    .ant-dropdown-menu {
      margin-top: px2rem(15px);
      padding: 0;
      max-height: px2rem(320px);
      overflow-y: auto;
      -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
      box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
      outline: none;
      position: relative;
      list-style-type: none;
      padding: 4px 0;
      margin: 0;
      text-align: left;
      background-color: #fff;
      border-radius: 4px;
      -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
      background-clip: padding-box;
      li {
        position: relative;
      }
    }
    .ant-dropdown-menu-item,
    .ant-dropdown-menu-submenu-title {
      padding: px2rem(10px) px2rem(24px);
      margin: 0;
      clear: both;
      font-size: px2rem(24px);
      font-weight: normal;
      color: rgba(0, 0, 0, 0.65);
      white-space: nowrap;
      cursor: pointer;
      -webkit-transition: all 0.3s;
      transition: all 0.3s;
      line-height: px2rem(40px);
    }

    .caret-currency-icon {
      width: px2rem(27px);
      height: px2rem(27px);
      font-size: px2rem(24px);
      margin-right: px2rem(16px);
      vertical-align: middle;
    }

    .loanInput {
      display: inline-block;
      position: relative;
    }

    .loanInput .coinName {
      margin-left: px2rem(16px);
    }
  }
  .describe {
    background: #f4f4f4;
    margin: px2rem(60px) px2rem(6px);
    padding: px2rem(20px);
    font-size: px2rem(24px);
    color: #1d1d1d;
    line-height: px2rem(40px);
  }
  .qrcode-div {
    text-align: center;
    align-content: center;
  }

  .qrcode-title {
    font-size: px2rem(30px);
    color: #666;
    margin-top: px2rem(60px);
    margin-bottom: px2rem(20px);
  }

  .qrcode {
    width: px2rem(180px);
    height: px2rem(180px);
    text-align: center;
    vertical-align: middle;
  }
}
