@import '../../../../assets/style/public.scss';
body,
button,
input,
select,
textarea {
  font: 12px/1.5 Microsoft YaHei, tahoma, arial, \5b8b\4f53, sans-serif;
}

body,
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.main {
  background: #f9f9f9;
  width: 100%;
  margin: 0;
  padding: 0;
}
