@import '../../../../assets/style/public.scss';
.buy-box {
  width: px2rem(690px);
  height: px2rem(420px);
  margin: px2rem(40px) auto;
  padding: px2rem(30px) px2rem(40px);
  background: #ffffff;
  box-shadow: 0 px2rem(2px) px2rem(10px) 0 rgba(173, 173, 173, 0.5);
  border-radius: px2rem(8px);
  box-sizing: border-box;
  text-align: left;
  font-family: PingFangSC-Regular;
  * {
    box-sizing: border-box;
  }
  .header-title {
    font-size: px2rem(36px);
    color: #000000;
    margin-bottom: px2rem(26px);
    text-align: left;
  }
  .purchase {
    color: #1d1d1d;
    line-height: px2rem(60px);
    font-size: px2rem(36px);

    .input {
      width: px2rem(383px);
      height: px2rem(52px);
      padding: 0 px2rem(25px);
      font-size: px2rem(28px);
      background: #ffffff;
      border: 1px solid #e7e7e7;
      box-shadow: 0 px2rem(2px) px2rem(4px) 0 rgba(189, 189, 189, 0.5);
      border-radius: px2rem(100px);
    }
    .unit {
      margin-left: px2rem(10px);
      font-size: px2rem(28px);
    }
    .purchase-btn {
      margin: px2rem(70px) auto 0;
      text-align: center;
    }
    .btn {
      background: #2ab3ce;
      border-radius: px2rem(60px);
      width: px2rem(260px);
      height: px2rem(60px);
      line-height: px2rem(60px);
      display: inline-block;
      font-size: px2rem(28px);
      color: #ffffff;
      text-align: center;
      cursor: pointer;
    }

    .disabled {
      background: #aaaaaa;
      cursor: default;
    }
  }
  .recharge-tip {
    font-size: px2rem(24px);
    color: #8e8e8e;
    margin-left: px2rem(120px);
    margin-top: px2rem(12px);
    line-height: px2rem(32px);
  }
  .a-link {
    color: #2ab3ce;
    cursor: pointer;
  }
}
