@import '@/assets/style/public.scss';

.notice {
  width: 100%;
  height: px2rem(50px);
  line-height: px2rem(50px);
  font-size: px2rem(24px);
  color: #666666;
  background: #fdf8ef;
  padding: 0 px2rem(30px);
  &-icon {
    display: inline-block;
    width: px2rem(30px);
    height: px2rem(27px);
    transform: translateY(-1px);
    background: url(~@/assets/imgs/notice.jpeg) no-repeat;
    background-size: contain;
    opacity: 0.8;
    vertical-align: middle;
  }
  &-message {
    display: inline-block;
  }
}
