@import '@/assets/style/dialog.scss';
@import '@/assets/style/public.scss';
.identity-auth-wrap {
	.dialog-title {
		font-size: px2rem(48px);
		color: #1d1d1d;
		text-align: center;
		margin: px2rem(10px) auto px2rem(30px);
	  }
	  .dialog-body {
		text-align: center;
	  }
	  .sub-title {
		font-size: px2rem(36px);
		color: #4a4a4a;
		margin-bottom: px2rem(10px);
		text-align: center;
	  }
	  
	  .user-head {
		width: px2rem(203px);
		height: px2rem(208px);
	  }
	  
	  .submit-btn {
		margin-top: px2rem(6px);
		background: #2ab3ce;
		border-radius: px2rem(50px);
		font-size: px2rem(28px);
		color: #ffffff;
		width: px2rem(250px);
		height: px2rem(60px);
		text-align: center;
		line-height: px2rem(60px);
		margin: 0 auto;
		cursor: pointer;
	  }
	  
}