@import '../../../../assets/style/public.scss';
.history-page {
  background: #f7f7f7;
}
.title {
  font-family: PingFangSC-Semibold;
  font-size: px2rem(36px);
  color: #333333;
  letter-spacing: 0;
  text-align: center;
  width: 100%;
}
