@import '../../../../assets/style/public.scss';

/* 同其他页面 */
.header {
  height: px2rem(484px);
  color: #fff;
  background: #323b7d url(../../assets/imgs/bg_pawn.png) no-repeat;
  background-size: 100%;
  padding: 0 px2rem(78px);
  box-sizing: border-box;
  .header-title {
    padding-top: px2rem(60px);
    font-weight: normal;
    font-size: px2rem(45px);
  }
  .header-content {
    margin-top: px2rem(15px);
    color: #cfcfcf;
    line-height: 1.5;
    @include font-dpr(12px);
  }
  .download {
    display: inline-block;
    margin-top: px2rem(26px);
    height: px2rem(66px);
    line-height: px2rem(66px);
    padding: 0 px2rem(43px);
    color: #69dbff;
    border: 1px solid #58acbd;
    border-radius: px2rem(4px);
    @include font-dpr(14px);
  }
}
