@import '../../assets/css/public.scss';
$mainColor: #2ab3ce;
div input {
  box-sizing: border-box;
}
.dialog {
  .dlg-title {
    font-size: px2rem(36px);
    color: #1d1d1d;
    text-align: center;
    width: 100%;
  }
  .content {
    padding: px2rem(40px) px2rem(40px) 0;
    font-size: px2rem(28px);
    line-height: px2rem(50px);
  }
}
