@import '../../../../assets/style/public.scss';

.fund-card {
  margin: 0 auto;
  padding: px2rem(40px) px2rem(30px);
  box-sizing: border-box;
  position: relative;
  font-family: PingFangSC-Regular;
  * {
    box-sizing: border-box;
  }
  .header-title {
    margin-bottom: px2rem(14px);
    font-size: px2rem(40px);
    color: #1d1d1d;
    text-align: left;
  }
  .card {
    position: relative;
    overflow: hidden;
    border-radius: px2rem(8px);
    width: px2rem(690px);
    height: px2rem(450px);
    background: #ffffff;
    box-shadow: 0 px2rem(2px) px2rem(10px) 0 rgba(173, 173, 173, 0.5);
    div {
      display: inline-block;
    }
  }

  .rate-card {
    text-align: center;
    display: block;
    margin: px2rem(70px) 0 px2rem(90px);
    .title {
      font-size: px2rem(80px);
      line-height: px2rem(80px);
      color: #ff5700;
    }
    .tip {
      font-size: px2rem(24px);
      color: #000000;
    }
  }
  div.detail-card {
    display: flex;
    -moz-display: flex;
    -webkit-display: flex;

    .card-item {
      position: relative;
    }
    .least-number {
      flex: 30%;
      -moz-flex: 30%;
      -webkit-flex: 30%;
    }
    .amount {
      flex: 40%;
      -moz-flex: 40%;
      -webkit-flex: 40%;
    }
    .progress {
      flex: 30%;
      -moz-flex: 30%;
      -webkit-flex: 30%;
    }
    .title {
      font-size: px2rem(40px);
      color: #ff5c1b;
      text-align: center;
      line-height: px2rem(50px);
    }
    .tip {
      margin-top: px2rem(6px);
      font-size: px2rem(24px);
      color: #000000;
    }
    .split {
      width: 0;
      height: px2rem(67px);
      position: absolute;
      right: 0;
      top: px2rem(18px);
      border-left: 1px solid #d4d4d4;
    }
  }

  .state-icon {
    font-size: px2rem(24px);
    line-height: px2rem(32px);
    width: px2rem(130px);
    color: #fff;
    padding-top: px2rem(35px);
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
    -webkit-transform-origin: left bottom;
    -moz-transform-origin: left bottom;
    transform-origin: left bottom;
    -webkit-transform: translate(29.29%, -100%) rotate(45deg);
    -moz-transform: translate(29.29%, -100%) rotate(45deg);
    transform: translate(29.29%, -100%) rotate(45deg);
    text-indent: 0;
    text-align: center;
    box-sizing: border-box;
  }
  .no-start {
    background: #aaa;
  }
  .running {
    background: #ff8e00;
  }
  .profitting {
    background: #fe6868;
  }
}
