@import '../../assets/css/public.scss';
$mainColor: #2ab3ce;
div input {
  box-sizing: border-box;
}
.dialog {
  .dlg-title {
    font-size: px2rem(36px);
    color: #1d1d1d;
    text-align: left;
    width: 100%;
  }
  label .labelTit {
    font-size: px2rem(24px);
    color: #1d1d1d;
  }
  label input {
    background: #ffffff;
    border: 1px solid #e7e7e7;
    box-shadow: 0 2px 4px 0 rgba(189, 189, 189, 0.5);
    border-radius: px2rem(50px);
    width: px2rem(300px);
    height: px2rem(60px);
  }
  .download-title {
    width: 100%;
    text-align: center;
    font-size: 15px;
  }
  .qrcode {
    text-align: center;
    img {
      width: px2rem(296px);
      height: px2rem(296px);
    }
  }
  .download-link {
    margin: px2rem(-20px) 0 px2rem(40px);
    text-align: center;
    text-decoration: underline;
    color: #0000ff;
    cursor: pointer;
    overflow-wrap: break-word;
    word-wrap: break-word;
  }
}
