@import '../../assets/style/public.scss';
.topbar {
  height: px2rem(77px);
  background: #0b0a16;
  color: #fff;
  font-size: font-dpr(24px);
  .title {
    position: relative;
    height: px2rem(77px);
    padding-left: px2rem(62px);
    line-height: px2rem(77px);
    display: block;
    float: left;
  }
  .title:before {
    content: '';
    position: absolute;
    left: px2rem(10px);
    top: 50%;
    transform: translateY(-50%);
    width: px2rem(40px);
    height: px2rem(40px);
    background: url(http://www.aoabank.com/m/logo.png?1) no-repeat;
    background-size: 100%;
  }
  .nav-menu {
    float: right;
  }
  .nav-menu > li {
    float: left;
    padding: 0 px2rem(23px);
    height: px2rem(77px);
    line-height: px2rem(77px);
  }
  .active {
    color: #4d95a6;
  }
  .nav-menu .language {
    position: relative;
    padding-right: px2rem(0px);
    z-index: 100;
  }
  .language > a {
    display: block;
    padding-right: px2rem(54px);
  }
  .language:after {
    content: '';
    position: absolute;
    right: px2rem(20px);
    top: 40%;
    transform: translateY(-50%);
    width: px2rem(11px);
    height: px2rem(11px);
    border-left: px2rem(3px) solid #999;
    border-bottom: px2rem(3px) solid #999;
    transform: rotate(-45deg);
  }
  .language-list {
    position: absolute;
    display: none;
    right: 0;
    bottom: px2rem(-150px);
    border: 1px solid #ccc;
    background: #fff;
    color: #848484;
    z-index: 10;
    .language-item {
      float: left;
      height: px2rem(80px);
      a {
        display: block;
        padding: 0 px2rem(50px);
      }
    }
  }
}
