@import '@/assets/style/public.scss';
.transaction-page {
	.banner {
		width: px2rem(750px);
		height: px2rem(400px);
		background: url(../../assets/imgs/banner.png);
		background-size: 100%;
		color: #fff;
		text-align: left;
		padding: px2rem(60px) px2rem(40px);
		.tit {
			font-size: px2rem(48px);
			line-height: px2rem(68px);
			// width: 772px;
		}
		.list {
			font-size: px2rem(20px);
			line-height: px2rem(48px);
			margin-top: px2rem(30px);
		}
	}
	.mainArea {
		// width: 90%;
		// min-width: 890px;
		// margin: 40px auto;
		// border-radius: 12px;
		// box-shadow: 0 4px 25px 0 rgba(2,50,104,.18);
		background: #eee;
		.header {
			line-height: px2rem(64px);
			font-size: px2rem(24px);
			color: #333;
			display: flex;
			padding: 0 2.5%;
			background-color: #fff;
			border-bottom: 1px solid #eee;
			.tit {
				width: 15%;
				text-align: left;
			}
			.note {
				width: 85%;
				text-align: right;
				color: #999;
				font-size: px2rem(20px);
				.link {
					color:#2AB3CE;
				}
			}
		}
		.table {
			.groupItem {
				height: px2rem(147px);
				margin-bottom: px2rem(16px);
				background-color: #FFF;
				padding: 0 px2rem(40px);
				font-size: px2rem(24px);
				color: #999;
				.firstLine {
					display: flex;
					line-height: px2rem(70px);
					padding-top: px2rem(20px);
					.coin {
						width: 30%;
						font-size: px2rem(36px);
						color: #333;
						.coinTxt {
							font-size: px2rem(24px);
							color: #ddd;
						}
					}
					.price {
						width: 50%;
						text-align: center;
						color: #E33248;
					}
					.buy {
						width: 20%;
						text-align: right;
						button {
							background-color:#2ab3ce;
							color: #fff;
							border-color:#2ab3ce;
							width: px2rem(104px);
							height: px2rem(48px);
							border-radius: px2rem(100px);
							line-height: px2rem(48px);
						}
					}
				}
				.secondLine {
					display: flex;
					.transNum {
						width: 70%;
					}
					.history {
						width: 30%;
						text-align: right;
						button {
							text-decoration: underline;
							font-weight: lighter;
						}
					}
				}
			}		
		}
	}
}