.transaction-page {
	.banner {
		height: 370px;
		background: url(../../assets/imgs/banner.png);
		// background-size
		color: #fff;
		text-align: left;
		padding-left: 100px;
		padding-top: 100px;
		.tit {
			font-size: 48px;
			line-height: 68px;
			width: 772px;
		}
		.list {
			font-size: 16px;
			line-height: 40px;
			margin-top: 20px;
		}
	}
	.mainArea {
		width: 90%;
		min-width: 890px;
		margin: 40px auto;
		border-radius: 12px;
		box-shadow: 0 4px 25px 0 rgba(2,50,104,.18);
		background: #fff;
		.header {
			line-height: 64px;
			font-size: 16px;
			color: #333;
			display: flex;
			padding: 0 2.5%;
			border-bottom: 1px solid #dfe5ea;
			.tit {
				width: 30%;
				text-align: left;
			}
			.note {
				width: 70%;
				text-align: right;
				color: #666;
				font-size: 14px;
				.link {
					color:#4356EB;
				}
			}
		}
		.table {
			.table-head{
				height: 50px;
				line-height: 50px;
				font-size: 14px;
				background-color: #f9f9f9;
				color: #999;
				font-weight: bold;
			}
			.groupItem {
				border-bottom: 1px solid #eee;
				height: 60px;
				line-height: 60px;
				.item .icon {
					width: 22px;
					transform: translateY(6px);
					margin-right: 6px;
				}
			}
			.table-head span, 
			.table-body .groupItem div.item{
				text-align: left;
				font-size: 14px;
				display: inline-block;
			}
			
			.table-head span:nth-child(1), 
			.table-body .groupItem div.item:nth-child(1){
				padding-left: 2.5%;
				width: 15%;
			}
			.table-head span:nth-child(2), 
			.table-body .groupItem div.item:nth-child(2){
				width: 15%;
			}
			.table-head span:nth-child(3), 
			.table-body .groupItem div.item:nth-child(3){
				width: 15%;
			}
			.table-head span:nth-child(4), 
			.table-body .groupItem div.item:nth-child(4){
				width: 15%;
			}
			// .table-head span:nth-child(5), 
			// .table-body .groupItem div.item:nth-child(5){
			// 	width: 10%;
			// }
			.table-head span:nth-child(5), 
			.table-body .groupItem div.item:nth-child(5){
				width: 13%;
			}
			.table-head span:nth-child(6), 
			.table-body .groupItem div.item:nth-child(6){
				padding-right: 2.5%;
				width: 19%;
				cursor: pointer;
				position: relative;
				text-align: right;
			}
		}
	}
}