@import '../../../../assets/style/public.scss';
.buy-process {
  margin: 0 auto;
  padding: px2rem(25px) px2rem(30px) px2rem(25px) px2rem(40px);
  width: 100%;
  box-sizing: border-box;
  font-family: PingFangSC-Regular;
  * {
    box-sizing: border-box;
  }
  .header-title {
    font-size: px2rem(36px);
    color: #1d1d1d;
    text-align: left;
    margin-bottom: px2rem(46px);
  }
  .header-title::before {
    content: '';
    width: px2rem(5px);
    height: px2rem(33px);
    background: #2ab3ce;
    display: inline-block;
    vertical-align: middle;
    margin-top: px2rem(-8px);
    margin-right: px2rem(20px);
  }
  .process-img {
    width: px2rem(594px);
    height: px2rem(88px);
    margin-left: px2rem(32px);
    background: url(../../../../assets/imgs/process.png) no-repeat;
    background-size: contain;
  }
  .process-desc {
    font-size: px2rem(24px);
    color: #1d1d1d;
    line-height: px2rem(33px);
    text-align: left;
    .date {
      color: #2ab3ce;
      display: block;
    }
    .desc {
      text-align: center;
      display: inline-block;
      width: px2rem(170px);
    }
    .desc:first-child {
      margin-left: px2rem(-10px);
    }
    .desc:nth-child(2) {
      margin-left: px2rem(75px);
    }
    .desc:nth-child(3) {
      margin-left: px2rem(80px);
    }
  }
}
