@import '../../../../assets/style/public.scss';
.header {
  width: 100%;
  height: px2rem(500px);
  background: url(../../../../assets/imgs/bg_coins.png) no-repeat;
  background-size: cover;
  background-position-y: -2px;
  font: 12px/1.5 Microsoft YaHei, tahoma, arial, \5b8b\4f53, sans-serif;
}

.header-content {
  padding-top: px2rem(76px);
  margin: 0 auto;
  text-align: left;
  width: px2rem(650px);
}

.header-content .title {
  font-size: px2rem(56px);
  line-height: px2rem(56px);
  color: #fff;
  font-weight: normal;
  margin-bottom: px2rem(15px);
}

.header-content .msg {
  font-size: px2rem(18px);
  width: px2rem(650px);
  color: #cfcfcf;
  line-height: px2rem(32px);
}
