@import '../../../../assets/style/public.scss';
// .header {
//   width: 100%;
//   height: px2rem(500px);
//   background: url(../../../../assets/imgs/bg_coins.png) no-repeat;
//   background-size: cover;
//   background-position-y: -2px;
//   font: 12px/1.5 Microsoft YaHei, tahoma, arial, \5b8b\4f53, sans-serif;
// }

// .header-content {
//   padding-top: px2rem(76px);
//   margin: 0 auto;
//   text-align: left;
//   width: px2rem(650px);
// }

// .header-content .title {
//   font-size: px2rem(56px);
//   line-height: px2rem(56px);
//   color: #fff;
//   font-weight: normal;
//   margin-bottom: px2rem(15px);
// }

// .header-content .msg {
//   font-size: px2rem(18px);
//   width: px2rem(650px);
//   color: #cfcfcf;
//   line-height: px2rem(32px);
// }
.header {
  height: px2rem(484px);
  color: #fff;
  background: #323b7d url(../../../../assets/imgs/bg_coins.png) no-repeat;
  background-size: 100%;
  padding: 0 px2rem(78px);
  box-sizing: border-box;
  text-align: left;
  .header-title {
    padding-top: px2rem(90px);
    font-weight: normal;
    font-size: px2rem(45px);
  }
  .header-content {
    margin-top: px2rem(15px);
    color: #cfcfcf;
    line-height: 1.5;
    @include font-dpr(12px);
  }
  .download {
    display: inline-block;
    margin-top: px2rem(26px);
    height: px2rem(66px);
    line-height: px2rem(66px);
    padding: 0 px2rem(43px);
    color: #69dbff;
    border: 1px solid #58acbd;
    border-radius: px2rem(4px);
    @include font-dpr(14px);
  }
}
