@import '../../assets/style/public.scss';
.footer {
  text-align: center;
  height: px2rem(350px);
  background: #000;
  position: relative;
  .footer-content {
    width: 100%;
  }
  .contact {
    width: 100%;
    height: px2rem(220px);
    padding: px2rem(40px);
    box-sizing: border-box;
    color: #646486;
  }
  .wechat-qrcode {
    display: inline-block;
    float: left;
  }
  .wechat-img {
    width: px2rem(140px);
    height: px2rem(140px);
    background: url(//www.koobank.com/m/home/img/wechat-qrcode.png);
    background-size: contain;
  }
  .wechat-text {
    margin-top: px2rem(5px);
    font-size: px2rem(24px);
  }
  .contact-list {
    display: inline-block;
    line-height: px2rem(40px);
    font-size: px2rem(24px);
    margin-left: px2rem(20px);
    margin-top: px2rem(20px);
    text-align: left;
    .icon {
      display: inline-block;
      width: px2rem(30px);
      height: px2rem(30px);
      vertical-align: text-top;
    }
    .qq {
      .icon {
        background: url(~@/assets/imgs/qq.png) no-repeat;
        background-size: contain;
      }
    }
    .wechat {
      .icon {
        background: url(~@/assets/imgs/wechat.png) no-repeat;
        background-size: contain;
      }
    }
    .email {
      .icon {
        background: url(//www.koobank.com/m/home/img/mail.png) no-repeat;
        background-size: contain;
      }
    }
  }
  //   .footer-links {
  //     margin-top: px2rem(50px);
  //     margin-bottom: px2rem(36px);
  //   }
  //   .footer-links li {
  //     float: left;
  //     padding: 0 px2rem(14px);
  //   }
  //   .link {
  //     display: block;
  //     width: px2rem(55px);
  //     height: px2rem(54px);
  //     background-size: 100%;
  //     background-repeat: no-repeat;
  //   }
  //   .link.twitter {
  //     background-image: url(http://www.aoabank.com/m/twitter.png);
  //   }
  //   .link.github {
  //     background-image: url(http://www.aoabank.com/m/github.png);
  //   }
  //   .link.gitter {
  //     background-image: url(http://www.aoabank.com/m/gitter.png);
  //   }
  //   .link.weibo {
  //     background-image: url(http://www.aoabank.com/m/weibo.png);
  //   }
  //   .link.mail {
  //     background-image: url(http://www.aoabank.com/m/mail.png);
  //   }
  //   .link.telegram {
  //     background-image: url(http://www.aoabank.com/m/telegram.png);
  //   }
  .company {
    margin-top: px2rem(20px);
  }
  .company,
  .copyright {
    font-size: 12px;
    color: #747474;
    width: 100%;
    text-align: center;
  }
}
