@import '../../../../assets/style/public.scss';
.main-content {
  margin: px2rem(34px) px2rem(23px);
  background: #ffffff;
  border: 1px solid #f2f2f2;
  padding: px2rem(50px) px2rem(24px);
  box-shadow: 0 2px 10px 0 rgba(176, 176, 176, 0.5);

  .collateral {
    display: inline-block;
    div {
      display: inline-block;
    }
    .title {
      font-size: px2rem(28px);
      color: #1d1d1d;
      line-height: px2rem(52px);
      display: inline-block;
      width: px2rem(90px);
      padding-right: px2rem(0px);
      text-align: right;
    }
    .collateral-input-wrapper {
      position: relative;
    }
    .collateral-tip {
      font-size: px2rem(20px);
      color: #393737;
      line-height: px2rem(28px);
      margin: px2rem(11px) px2rem(96px);
      span {
        color: #2ab3ce;
      }
    }
    input {
      background: #ffffff;
      border: 1px solid #e7e7e7;
      -webkit-box-shadow: 0 px2rem(4px) px2rem(8px) 0 rgba(189, 189, 189, 0.5);
      box-shadow: 0 px2rem(4px) px2rem(8px) 0 rgba(189, 189, 189, 0.5);
      border-radius: px2rem(100px);
      width: px2rem(337px);
      height: px2rem(52px);
      line-height: px2rem(52px);
      margin-left: px2rem(20px);
      padding: 0 px2rem(28px);
      color: #666;
      font-size: px2rem(24px);
    }
    button {
      background: #ffffff;
      border: 1px solid #e7e7e7;
      -webkit-box-shadow: 0 px2rem(2px) px2rem(4px) 0 rgba(189, 189, 189, 0.5);
      box-shadow: 0 px2rem(4px) px2rem(8px) 0 rgba(189, 189, 189, 0.5);
      border-radius: px2rem(100px);
      width: px2rem(189px);
      height: px2rem(52px);
      font-size: px2rem(24px);
      color: #1d1d1d;
      position: relative;
      cursor: pointer;
    }
    .tranfer {
      display: block;
      position: relative;
      margin: px2rem(16px) 0;
      img {
        width: px2rem(26px);
        height: px2rem(29px);
        margin-left: px2rem(320px);
      }
    }
    .caret-down-icon,
    .currency-icon {
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
    }
    .currency-icon {
      left: px2rem(27px);
      width: px2rem(27px);
      height: px2rem(27px);
      position: relative;
      margin-right: px2rem(13px);
      top: -1px;
    }
    .caret-down-icon {
      right: px2rem(29px);
      color: #1e1e1e;
    }
    .caret-down-icon,
    .currency-icon {
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
    }
    .anticon {
      display: inline-block;
      font-style: normal;
      vertical-align: baseline;
      text-align: center;
      text-transform: none;
      line-height: 1;
      text-rendering: optimizeLegibility;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }

    .anticon-caret-down:before {
      content: '';
      display: inline-block;
      background: url(../../assets/imgs/icon-arrow.png) no-repeat;
      width: px2rem(16px);
      height: px2rem(16px);
      background-size: contain;
    }
    .ant-dropdown {
      font-family: 'Monospaced Number', 'PingFang SC', 'Microsoft YaHei',
        'Helvetica Neue', Helvetica, Arial, sans-serif;
      line-height: 1.5;
      color: rgba(0, 0, 0, 0.65);
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      min-width: px2rem(190px);
      list-style: none;
      position: absolute;
      z-index: 1050;
      display: block;
    }
    .ant-dropdown-menu {
      margin-top: px2rem(15px);
      padding: 0;
      max-height: px2rem(320px);
      overflow-y: auto;
      -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
      box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
      outline: none;
      position: relative;
      list-style-type: none;
      padding: 4px 0;
      margin: 0;
      text-align: left;
      background-color: #fff;
      border-radius: 4px;
      -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
      background-clip: padding-box;
      li {
        position: relative;
      }
    }
    .ant-dropdown-menu-item,
    .ant-dropdown-menu-submenu-title {
      padding: px2rem(10px) px2rem(24px);
      margin: 0;
      clear: both;
      font-size: px2rem(24px);
      font-weight: normal;
      color: rgba(0, 0, 0, 0.65);
      white-space: nowrap;
      cursor: pointer;
      -webkit-transition: all 0.3s;
      transition: all 0.3s;
      line-height: px2rem(40px);
    }

    .caret-currency-icon {
      width: px2rem(27px);
      height: px2rem(27px);
      font-size: px2rem(24px);
      margin-right: px2rem(16px);
      vertical-align: middle;
    }

    .loanInput {
      display: inline-block;
      position: relative;
    }

    .loanInput .coinName {
      margin-left: px2rem(16px);
    }
  }
  .describe {
    background: #f4f4f4;
    margin: px2rem(60px) px2rem(6px);
    padding: px2rem(20px);
    font-size: px2rem(24px);
    color: #1d1d1d;
    line-height: px2rem(40px);
    .describe-item {
      margin-left: px2rem(20px);
    }
    .describe-title {
      display: inline-block;
      //   width: px2rem(120px);
    }
    .describe-value {
      display: inline-block;
    }
    .describe-tip {
      color: #777;
      margin-left: px2rem(20px);
      margin-bottom: px2rem(16px);
    }
    .desc {
      color: #1d1d1d;
      margin-left: px2rem(20px);
    }
    .title {
      font-size: px2rem(30px);
      margin-bottom: px2rem(10px);
      font-weight: bold;
    }
  }
  .hidden {
    display: none !important;
  }
}
.submit-div {
  margin: px2rem(15px) auto px2rem(58px);
  font-size: px2rem(24px);
  color: #878585;
  text-align: center;
}

.terms {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  cursor: pointer;
}

.terms-link {
  color: #2ab3ce;
  cursor: pointer;
}

.submit-btn {
  background: #2ab3ce;
  border-radius: px2rem(50px);
  font-size: px2rem(28px);
  color: #ffffff;
  width: px2rem(245px);
  height: px2rem(60px);
  text-align: center;
  line-height: px2rem(60px);
  margin: px2rem(80px) auto 0;
  cursor: pointer;
}

.check-box {
  background-image: linear-gradient(0deg, #d9d9d9 0%, #ffffff 100%);
  border: 1px solid #dadada;
  border-radius: px2rem(8px);
  display: inline-block;
  width: px2rem(32px);
  height: px2rem(32px);
  vertical-align: bottom;
  margin-bottom: px2rem(2px);
  box-sizing: border-box;
}

.checked {
  border: 0;
  background: url('../../assets/imgs/checked.png');
  background-size: contain;
}
