.dialog.buy-dialog {
	.info {
		margin-top: px2rem(36px);
	// 	padding-left: 70px;
		color: #999;
		text-align: center;
		.rechage {
			color: #2AB3CE;
			user-select: none;
	// 		cursor: pointer;
		}
	}
	// .input {
	// 	width: 250px;
	// }
	// .btn-line {
	// 	padding-bottom: 20px;
	// }
	.wrap {
		label {
			padding-top: px2rem(20px);
		}
		input.shortInput {
			width: px2rem(250px);
		}
		.labelTit {
			display: inline-block;
			width: px2rem(140px);
			text-align: right;
		}
	}
}