@import '../../assets/css/public.scss';
table {
  border: 1px solid #e8e8e8;
  border-collapse: collapse;
  width: 950px;
  margin-top: 24px;
}
.table-header {
  background: #f4f4f4;
  font-size: 14px;
  color: #4a4a4a;
  height: 46px;
  border: 0;
  th {
    font-weight: normal;
    min-width: 90px;
  }
}

.table-body {
  height: 56px;
  background: 0;
  border-bottom: 1px solid #e9e9e9;
  font-size: 14px;
  color: #000000;
  .oprate {
    color: #2ab3ce;
    cursor: pointer;
    font-size: 18px;
    span {
      margin: 0 20px;
    }
  }
}
