@import '../../../../assets/style/public.scss';
.security-list {
	background: #f7f7f7;
	.userInfo-wrap {
		background: #fff;
		padding-bottom: px2rem(32px);
		border-bottom: 1px solid #e9e9e9;
	}
}
.userInfo {
	width: px2rem(700px);
	background: #E5F7FF;
	line-height: px2rem(40px);
	font-family: PingFangSC-Regular;
	font-size: px2rem(24px);
	color: #0E515E;
	padding: px2rem(20px) px2rem(60px);
	margin: 0 auto;
	margin-top: px2rem(40px);
}
.list {
	margin-top: px2rem(10px);
	border-top: 1px solid #e9e9e9;
	background-color: #fff;
	text-align: left;
	padding-bottom: px2rem(120px);
	.item {
		color: #4a4a4a;
		width: px2rem(700px);
		margin: 0 auto;
		border-bottom: 1px solid #e5e5e5;
		height: px2rem(144px);
		&.password {
			.txt {
				line-height: px2rem(39px);
			}
			.icon {
				transform: translate(px2rem(20px), px2rem(38px));
			}
		}
		.icon {
			width: px2rem(60px);
			transform: translate(px2rem(20px), px2rem(22px));
		}
		.txt {
			font-size: px2rem(26px);
			padding-left: px2rem(50px);
			line-height: px2rem(144px);
			em {
				font-weight: normal;
				color: #000;
				&.warn {
					color: #ea1d1d;
				}
			}
		}
		.btn {
			margin-top: 28px;
			margin-right: 42px;
		}
		.progess-group {
			font-size: px2rem(26px);
			color: #4a4a4a;
			padding-left: px2rem(120px);
			.progess {
				display: inline-block;
				width: px2rem(220px);
				transform: translateY(px2rem(-4px));
			}
		}
		
	}
}
