@import '../../../../assets/style/public.scss';
.recommend-div {
  margin: 0 auto;
  padding: px2rem(20px) px2rem(20px) 0;
  text-align: center;
  box-sizing: border-box;
  background: #fff;
  font-family: PingFangSC-Regular;
  .title {
    height: px2rem(160px);
    padding-top: px2rem(43px);
  }
  .header-title {
    font-size: px2rem(28px);
    color: #878787;
    line-height: px2rem(40px);
    margin-bottom: px2rem(45px);
  }
  .split-line {
    width: px2rem(35px);
    border-top: 1px solid #979797;
    margin: 0 px2rem(30px);
    vertical-align: middle;
    display: inline-block;
  }
  .recommend-item {
    display: inline-block;
    width: px2rem(313px);
    height: px2rem(540px);
    border-radius: px2rem(8px) px2rem(8px);
    margin: px2rem(14px) px2rem(6px);
    background: #f7f7f7;
    position: relative;
    overflow: hidden;

    .title {
      color: #ffffff;
      text-align: center;
      line-height: px2rem(40px);
      height: px2rem(133px);
      border-radius: px2rem(8px) px2rem(8px) 0 0;
      padding: px2rem(35px) px2rem(10px) 0;
      box-sizing: border-box;
    }
    .name {
      font-size: px2rem(28px);
      line-height: px2rem(40px);
    }
    .state-icon {
      font-size: px2rem(24px);
      line-height: px2rem(28px);
      width: px2rem(108px);
      padding-top: px2rem(26px);
      position: absolute;
      right: 0;
      top: 0;
      z-index: 2;
      -webkit-transform-origin: left bottom;
      -moz-transform-origin: left bottom;
      transform-origin: left bottom;
      -webkit-transform: translate(29.29%, -100%) rotate(45deg);
      -moz-transform: translate(29.29%, -100%) rotate(45deg);
      transform: translate(29.29%, -100%) rotate(45deg);
      text-indent: 0;
      text-align: center;
      box-sizing: border-box;
    }
    .no-start {
      background: #aaa;
    }
    .running {
      background: #ff8e00;
    }
    .profitting {
      background: #fe6868;
    }
    .btn {
      text-align: center;
      font-size: px2rem(24px);
      margin-top: px2rem(40px);
      span {
        display: inline-block;
        width: px2rem(140px);
        height: px2rem(60px);
        line-height: px2rem(60px);
        border-radius: px2rem(50px);
        cursor: pointer;
      }
    }
  }
  .content {
    padding: px2rem(56px) px2rem(20px) 0;
    text-align: center;
    color: #000;
    text-align: center;
    line-height: px2rem(36px);
  }
  .rate {
    font-size: px2rem(58px);
    color: #ff5c1b;
    text-align: center;
    line-height: px2rem(50px);
    margin-bottom: px2rem(20px);
  }
  .fund-days {
    font-size: px2rem(24px);
    color: #fe6868;
    text-align: center;
    line-height: px2rem(30px);
    margin: px2rem(20px) 0;
  }
  .font-blue {
    color: #57b1cb;
  }
  .recommend-item:first-child {
    .title {
      background: #56cd61;
    }
    .buy {
      color: #ffffff;
      background: #56cd61;
    }
    .watch {
      border: 1px solid #56cd61;
      color: #56cd61;
    }
  }
  .recommend-item:nth-child(2) {
    .title {
      background: #7567ef;
    }
    .buy {
      color: #ffffff;
      background: #7567ef;
    }
    .watch {
      border: 1px solid #7567ef;
      color: #7567ef;
    }
  }
  .recommend-item:nth-child(3) {
    .title {
      background: #5ad9b3;
    }
    .buy {
      color: #ffffff;
      background: #5ad9b3;
    }
    .watch {
      border: 1px solid #5ad9b3;
      color: #5ad9b3;
    }
  }
  .recommend-item:nth-child(4) {
    .title {
      background: #895fa5;
    }
    .buy {
      color: #ffffff;
      background: #895fa5;
    }
    .watch {
      border: 1px solid #895fa5;
      color: #895fa5;
    }
  }
}
