@import '~@/assets/style/public.scss';

.find-page {
	.top-banner {
		text-align: center;
		background-color: #fff;
		.find-banner-img {
			width: px2rem(686px);
			border-radius: px2rem(13px);
			padding-top: px2rem(25px);
			padding-bottom: px2rem(25px);
		}
	}
	.find-list {
		margin-top: px2rem(10px);
		background-color: #fff;
		padding: px2rem(40px) 0 0 px2rem(32px);
		.find-list-tit {
			font-size: px2rem(32px);
			color: #333;
			border-left: px2rem(8px) solid #E60816;
			line-height: px2rem(32px);
			padding-left: px2rem(12px);
		}
		.games {
			.game {
				display: flex;
				height: px2rem(176px);
				position: relative;
				.game-icon {
					// width: px2rem(144px);
					padding: px2rem(32px) px2rem(32px) 0 0;
					.icon {
						width: px2rem(112px);
					}
				}
				.game-content {
					width: 100%;
					border-bottom: 1px solid #eee;
					.game-tit {
						font-size: px2rem(36px);
						color: #333;
						margin-top: px2rem(42px);
					}
					.game-txt {
						font-size: px2rem(28px);
						color: #999;
						margin-top: px2rem(6px);
					}
				}
				&:after {
					display: block;
					position: absolute;
					right: px2rem(20px);
					top: px2rem(66px);
					content: '';
					width: px2rem(44px);
					height: px2rem(44px);
					background: url(../../assets/imgs/arrow-r.png);
					background-size: 100%;
				}
			}
		}
	}
	.more {
		color: #777;
		text-align: center;
		padding-top: 25%;	
	}
}