@import '../../assets/css/public.scss';
.van-tabs--line .van-tabs__wrap {
  width: px2rem(410px);
  margin: 0 auto;
  margin-top: px2rem(16px);
}
[class*='van-hairline']::after {
  border: 0 solid #f9f9f9;
}
.van-tab,
.van-tabs__nav {
  background-color: #f9f9f9;
}
.van-tab {
  margin: 0 px2rem(20px);
  padding: 0;
}
.van-ellipsis {
  font-size: px2rem(24px);
}
.van-tabs__line {
  background-color: #1eafcc;
}
.van-tab--active {
  color: #1eafcc;
}
.second-tab {
  width: px2rem(632px);
  height: px2rem(106px);
  margin: 0 auto;
  border-bottom: 1px solid #d6d6d6;
}
