@import '../../../../assets/style/public.scss';
.login-page, .logup-page {
	height: 100%;
	background: url(../../assets/imgs/bg.png);
	background-size: 100%;
	.main {
		.tit {
			font-size: 48px;
			color: #fff;
			margin-top: px2rem(100px);
			text-align: center;
		}
		.entry-form {
			background-color: #fff;
			width: px2rem(540px);
			margin: px2rem(46px) auto;
			border-radius: px2rem(20px);
			padding: px2rem(40px) px2rem(60px) px2rem(56px);;
			font-size: 28px;
			color: #435069;
			.form-item {
				position: relative;
				border-bottom: px2rem(2px) solid #e5e5e5;
				margin-top: px2rem(55px);
				white-space: nowrap;
				.input {
					// display: block;
					&::placeholder {
						font-family: PingFangSC-Regular;
						font-size: 19px;
						color: #c3c2c2;
					}
				}
				.error-tip {
					display: block;
					position: absolute;
					bottom: 0px;
					font-size: 22px;
					color: #e22828;
					bottom: -34px;
				}
				.authcode {
					position: absolute;
					right: 0;
					bottom: px2rem(7px);
					width: px2rem(108px);
					text-align: center;
					line-height: px2rem(33px);
					border: px2rem(1px) solid #1EAFCC;
					background-color: #fff;
					border-radius: px2rem(100px);
					font-size: px2rem(14px);
					color: #1eafcc;
				}
			}
			.links {
				color: #3f3fe4;
				position: relative;
				.forget-link {
					position: absolute;
					right: 0;
				}
			}
			.form-btn {
				width: px2rem(290px);
				height: px2rem(60px);
				line-height: px2rem(60px);
				background-color: #1EAFCC;
				color: #fff;
				font-size: 26px;
				border-radius: px2rem(50px);
				text-align: center;
				margin: 0 auto;
				margin-top: px2rem(90px);
			}
		}
	}
}