@import '../../../../assets/style/public.scss';

.fund-list {
  padding: px2rem(30px) px2rem(20px) px2rem(20px);
  font-family: PingFangSC-Regular;
  background: #f7f7f7;
}
.header-title {
  font-size: px2rem(28px);
  color: #878787;
  line-height: px2rem(60px);
  margin-bottom: px2rem(30px);
}
.split-line {
  width: px2rem(35px);
  border-bottom: 1px solid #979797;
  margin: 0 px2rem(30px);
  vertical-align: middle;
  display: inline-block;
}
